* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	/* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;


}

/* header elements */

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0.7rem 1.3rem;
	font-size: 1.3rem;
	color: white;
	font-weight: 500;

}

.navbar_p {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.7rem;
	font-size: 1.1rem;
	position: relative;
}



#circle {
	width: 8px;
	position: absolute;
	top: 0px;
	right: 51px;
	transform:translate(-20%, -50%);
}


#dash {
	font-size: 3rem;
	position: absolute;
	top: 0.1px;
	right: 0.09rem;
	transform:translate(-5%, -5%);


}

/* header elements */


/* main */

main {
	position: absolute;
	left: 0;
	top: 700px;
	width: 400px;
	height: 100px;
}

.pmain {
	color: white;
	margin-top: 0.7rem;
	padding-left: 1rem;
	padding-top: 1rem;
	line-height: 1;
}

/* main */



/* Sidebar */
.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	font-size: 2rem;
	padding-right: 1rem;
	position: absolute;
	right: 0;
	top: 32%;
}



#tiktokbtn {
	width: 50px;
	position: absolute;
	top: 30px;
}

#plusbtn {
	position: absolute;
	left: 29%;
	top: 42px;
	z-index: 2;
	font-size: 20px;
}



.pside {
	font-size: 13px;
	padding-bottom: 28px
}

/* sidebar */



/* Sidebar Elements */

#booleanlogo {
	width: 70px;
}

/* Sidebar Elements */


/* Footer */

.footer_container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-around;
	padding-bottom: 0.7rem;
	background-color: black;
	min-height: 100px;
}




.footer_element_btn{
	position:relative;
	transform:rotate(90deg);
	font-size: 2.5rem;
	height: 3rem;
	width: 2rem;
	margin-bottom: 17px;
	margin-left: 10px;
	border-radius: 0.7rem;
	background-color:white;
	box-shadow: 0px -3px 1px 1px #ff00d4;
}


.footer_element_btn i{
		position:absolute;
		top: 3px;
		left: -1px;
		font-size: 2rem;
		color: black;
	}


.footer_element {
  display: flex;
  flex-direction: column;
  align-items: center;        
  font-size: 1.5rem;
  width: 20%;
}

.footer_element span {
	font-size: 12px;
	
	
  }

  .msg{
	position:absolute;
	font-size: 15px;
	border-radius: 10px;
	top: 18px;
	text-align:center;
	transform:translate(50%);
	width: 25px;
	height: 20px;
	background-color:#f93251;
  }
  
  
/* footer */

